@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Db - Single Query";

    var searchArg = Request.Form["searcharg"];
    var regionId = "";
    var description = "";
    //remember on the first page pass, the form has NOT been displayed
    //  searcharg will be null. Looking up an SQL table by primary key 
    //  using a value of null will cause an error 
    if(string.IsNullOrEmpty(searchArg))
    {
        searchArg = "0";
    }
    //connect to your databse "pipeline"
    var db = Database.Open("NWDB");

    //create command to be executed on the database
    // this command can be coded over multiple physical lines
    //  as concatentation. Values which will be passed with 
    //  the command are coded with placeholders as placeholder
    //  is at @n where n is an index value on execuion the placedholer
    //  will be changed to the supplied argument value
    var queryCommand = "SELECT RegionId, RegionDescription "
                    + "FROM Region "
                    + "WHERE RegionId = @0";

    //execute the command on the connected database
    //capture the results of the execution
    //.QuerySingle() used when one expects a single record to be returned
    //.Query() used when one expects 0, 1 or more records to be returned
    //.QueryValue() used when one expects a single value (NOT RECORD) to be
    //  returned
    var results = db.QuerySingle(queryCommand, searchArg);

}
@section banner{
    <h1>Database: Single Query</h1>
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-md-4">
            <label for="searcharg">Enter Region Id</label>
            <input type="text" id="searcharg" name="searcharg"
                   placeholder="enter regiond id"
                   value="@searchArg" />
            <br />
            <button type="submit" id="formbutton" name="formbutton"
                    class="btn btn-primary" value="search">
                Search
            </button>
            &nbsp;&nbsp;
            <button type="submit" id="formbutton" name="formbutton"
                    class="btn" value="clear">
                Clear
            </button>
        </div>
        <div class="col-md-8">
            <label for="regionid">Region Id</label>
            <input type="text" id="searcharg" name="searcharg"                 
                   value="@regionId" />
            <br />
            <label for="description">Region Name</label>
            <input type="text" id="searcharg" name="searcharg"
                   value="@description" />
            <br />
        </div>
    </div>
</form>